@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #212223;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}

.navbar-title a {
  color: #fff;
  font-size: 18px;
}

.navbar-items a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.navbar-buttons a {
  color: #e09969;
  padding: 0 21px;
  text-decoration: underline;
  font-size: 16px;
}

.navbar-buttons a:hover {
  color: #418bd5;
}

/* ----------------------------- <main> section ----------------------------- */

main {
  background-color: #212223;
}

#navbar-underlay {
  height: 79.52px;
}

#banner {
  height: 720px;
  background-color: #418bd5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;

}

#banner h1 {
  text-align: center;
  font-size: 48px;
  color: #fff;
}