/* Copyright 2023 BangRou25 */

/* css config */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {box-sizing: border-box; margin: 0; padding: 0; text-decoration: none;}

/* navbar config */

.navbar-bg {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.navbar {
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
}

.navbar-logo a {
  color: #00588f;
}

.navbar-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  padding: 12px 0;
}

.navbar-menu-container {
  padding: 12px 3px;
  display: flex;
}

.navbar-menu-container a {
  padding: 6px 9px;
  border-radius: 3px;
  color: #505050;
}

.navbar-menu-container a:hover {
  background-color: rgba(146, 146, 146, 0.4);
  color: #000;
}

/* main config */
main {
  margin: 0 10%;
}

#banner {
  margin: 24px 0;
  height: 720px;
  background-color: aqua;
  border-radius: 24px;
}