/* Copyright 2023 BangRou25 */

/* css config */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; font-family: 'Roboto', sans-serif;}
strong.author {font-style:normal; color: rgb(0, 217, 255);}
strong.p-highlight {font-style: normal; color: #222;}

/* navbar config */
.navbar-bg {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(248, 248, 248, .8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.navbar {
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-color: #aaa;
  border-bottom-style: solid;
}

.navbar-logo {
  font-weight: 500;
  font-size: 21px;
}

.navbar-logo a {
  color: rgb(0, 131, 154);
}

.navbar-menu {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  padding: 6px 0;
}

.navbar-menu-container {
  padding: 6px 3px;
  display: flex;
}

.navbar-menu-container a {
  padding: 6px 9px;
  border-radius: 3px;
  color: #505050;
}

.navbar-menu-container a:hover {
  background-color: rgba(146, 146, 146, 0.4);
  color: #000;
}

/* main config */
body {background-color: #f8f8f8;}

/* heading config */
h1 {
  font-weight: 700;
  font-size: 72px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 12px;
  color: #666;
}

p {
  font-weight: 400;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

/* section config */

/* banner */
#banner {
  margin: 24px 10%;
  min-height: 480px;
  border-radius: 15px;
  box-shadow: 0 0 24px rgb(0, 217, 255);
  background-image: url('/resources/img/banner/banner-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#banner h1 {
  color: #f8f8f8;
  margin: 0 48px;
  line-height: 68px;
}

.banner-link {
  margin: 21px 48px;
  display: flex;
  align-items: end;
}

.banner-link a {
  font-size: 18px;
  color: rgb(41, 151, 255);
}

.banner-link a:hover {
  text-decoration: underline;
}

.banner-link img {
  margin: 0 0 3px 5px;
  height: 12px;
}

/* company */
#company {
  margin: 0 10%;
  padding: 72px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aaa;
}

.section-row {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.section-link {
  margin-top: 12px;
  display: flex;
  align-items: end;
}

.section-link a {
  font-size: 18px;
  color: rgb(41, 151, 255);
}

.section-link a:hover {
  text-decoration: underline;
}

.section-link img {
  margin: 0 0 3px 5px;
  height: 12px;
}

.company-img {
  margin: auto;
  height: 125px;
}

/* project */
#project {
  margin: 0 10%;
  padding: 72px 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aaa;
}

.project-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

.project-content-row {
  margin: 12px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  padding: 24px;
  height: auto;
  transition: all 0.2s ease;
}

.project-content-row:hover {
  box-shadow: 0 0 10px #aaa;
  background-color: #fff;
  cursor: default;
}

/* client */
#client {
  margin: 0 10%;
  padding: 72px 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.client-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-logo {
  padding: 0 24px;
}

/* footer config */
footer {
  background-color: #eee;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding: 72px 10%;
}

footer p {
  font-size: 14px;
}